.container{
    flex: 1;
}

.headerTitle{
    font-size: 12px;
}

.headerIndicator{
    background-color: #fff;
    height: 3px;
}

.tabItemContainer{
    width: 420px;
}


.generalContainer{
    margin-top: 20px;
    padding-left: 5px;
}